NODE_ENV=production
PORT=3000
DATABASE_URL=
JWT_SECRET=
EPS_USERNAME=
EPS_PASSWORD=
EPS_MERCHANT_ID=
EPS_STORE_ID=
EPS_HASH_KEY=
NEXT_PUBLIC_APP_URL=https://crackncodepremium.com
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
